<div *ngFor="let d of data.content " >
  <p>"id" = {{ d.id }}</p>
  <p>"titulo" = {{ d.titulo }}</p>
  <p>"texto" = {{ d.texto }}</p>
  <hr>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item ">
      <a class="page-link" (click)="proximaPagina(data.pageable.pageNumber-1)">Previous</a>
    </li>

    <div *ngIf="data.pageable.pageNumber >= 0; else elseBlock">
      <li class="page-item disabled"><a class="page-link" >{{data.pageable.pageNumber+1}}</a></li>
      </div>
    <ng-template #elseBlock> <li class="page-item"><a class="page-link" href="#">{{data.pageable.pageNumber+1}}</a></li></ng-template>
 
    <li class="page-item disabled"><a class="page-link" href="#">total de paginas{{data.totalPages}}</a></li>
     

    <div *ngIf="data.pageable.pageNumber != data.totalPages-1;">
      <li class="page-item">
        <a class="page-link" (click)="proximaPagina(data.pageable.pageNumber+1)">Next</a>
      </li>
    </div>
    
  </ul>
</nav>

