<div *ngFor="let d of data.content " >
  <p>"id" = {{ d.id }}</p>
  <p>"titulo" = {{ d.titulo }}</p>
  <p>"texto" = {{ d.texto }}</p>
  <hr>
</div>
<nav aria-label="...">
  <ul class="pagination">
    <div *ngIf="data.pageable.pageNumber > 0">
      <li class="page-item ">
        <a class="page-link"  href="#" (click)="proximaPagina(data.pageable.pageNumber-1)">Previous</a>
      </li>
    </div>
 
      <div *ngFor="let item of listaPagina">
        <div *ngIf="data.pageable.pageNumber >= 0; else elseBlock">
          <li class="page-item " (click)="proximaPagina(item)"><a class="page-link" href="#">{{item+1}}</a></li>
        </div>
        <ng-template #elseBlock> <li class="page-item " (click)="proximaPagina(item)"><a class="page-link" href="#">{{item}}</a></li></ng-template>
      </div>

    <div *ngIf="data.pageable.pageNumber != data.totalPages-1;">
      <li class="page-item">
        <a class="page-link"  href="#" (click)="proximaPagina(data.pageable.pageNumber+1)">Next</a>
      </li>
    </div>
    
  </ul>
</nav>

